.header {
    display: flex;
    align-items: center;
    padding: 2vh 2vw;
    background-color: #e6dcd3;
}

.header .logo {
    margin: 4vh 0vw;
    cursor: pointer;
    margin-right: auto;
    font-size: 2.2rem;
    font-family: 'Satisfy', cursive;
}

.header img {
    width: 60px;
    margin-right: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    padding: 0px 20px;
}

.header nav ul li a {
    font-size: 1.3rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #b4a79e;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

.header .social-links a {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.header nav ul li a.active {
    color: #3f352c;
    font-weight: 700;
}

.header #hidden-btn-contact,
.header #btn-contact {
    font-family: "Tenor Sans", sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 50px;
    font-size: 1rem;
}

.header #hidden-btn-contact {
    display: none;
    color: #ffffff;
}

.header #btn-contact {
    background-color: #bda18c;
    color: #3f352c;
    margin-left: auto;
}

.header .menubar {
    font-size: 1.3rem;
    display: none;
}