.header {
    display: flex;
    align-items: center;
    padding: 2vh 2vw;
    background-color: #e6dcd3;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.header .logo {
    margin: 4vh 0vw;
    cursor: pointer;
    margin-right: auto;
    font-size: 2.2rem;
    font-family: 'Satisfy', cursive;
}

.header img {
    width: 60px;
    margin-right: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    padding: 0px 20px;
}

.header nav ul li a {
    font-size: 1.3rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #b4a79e;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    margin-top: 13px;
}

.header .social-links a {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.header nav ul li a.active {
    color: #3f352c;
    font-weight: 700;
}

.header #hidden-btn-contact,
.header #btn-contact {
    font-family: "Tenor Sans", sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 50px;
    font-size: 1rem;
}

.header #hidden-btn-contact {
    display: none;
    color: #b4a79e;
}

.header #btn-contact {
    background-color: #bda18c;
    color: #3f352c;
    margin-left: auto;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.header .menubar {
    font-size: 1.3rem;
    display: none;
}

@media (max-width: 1201px) {
    .header img {
        width: 40px;
        margin-right: 20px;
    }

    .header .logo {
        font-size: 1.6rem;
    }

    .header #hidden-btn-contact,
    .header #btn-contact {
        padding: 6px 40px;
        font-size: 1rem;
    }



    .header nav ul li {
        display: inline-block;
        padding: 0px 20px;
    }

    .header nav ul li a {
        font-size: 1rem;

    }
}

@media (max-width: 988px) {


    .header {
        display: flex;
        align-items: center;
        padding: 2vh 2vw;
        background-color: #e6dcd3;
    }


    .header img {
        width: 30px;
        margin-right: 20px;
    }

    .header .logo {
        margin: 2vh 0vw;
        font-size: 1.3rem;

    }

    .header #hidden-btn-contact,
    .header #btn-contact {
        padding: 4px 30px;
        font-size: 0.9rem;
    }

    .header #hidden-btn-contact {
        display: inline-block;
        font-family: 'Playfair Display', sans-serif;
    }

    .header #btn-contact {
        display: none;
    }

    .header nav ul li {
        display: inline-block;
        padding: 0px 20px;
    }

    .header nav ul li a {
        font-size: 0.9rem;
    }
}

/* Hamburger Nav*/
@media (max-width: 875px) {
    label.menubar {
        display: inline !important;
        cursor: pointer;
        margin-left: auto;
    }

    nav {
        display: none;
        transition: opacity 0.3s ease;
        /* Add opacity transition for a fade effect */
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        margin: 0 auto;
        opacity: 0;
        /* Start with opacity 0 */
    }

     

    #menubar:checked~nav {
        display: block;
        position: absolute;
        top: 15vh;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 90vw;
        background-color: #e6dcd3;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        opacity: 1;
       
        /* Set opacity to 1 when the menu is open */
    }

    #menubar:checked~nav ul {
        position: relative;
        width: 100%;
        margin-top: 16px;
    }

    #hidden-btn-contact{
        margin: 0;
        padding: 0 !important;
    }

    #menubar:checked~nav li {
        text-align: start;
        display: block;
        font-size: 0.7rem;
        padding: 20px;
        line-height: 8px;
       
    }

    #menubar:checked~nav li a {
        font-size: 1rem;
        font-weight: 700;
        
    }

    #menubar:checked~nav li a.active {
        border-bottom: none;
    }

}