/* Playfair Display */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900&display=swap');

/* Playfair Display SC */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

/* Satisfy */
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

/* Tenor Sans */
@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');


* {
    font-family: 'Playfair Display', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    height: 100vh;
}

@media (max-height: 1275px) {
    body {
        height: 100%;
    }
}

main {
    flex: 1;
    margin: 50px 0;
}

section {
 padding: 50px 0;
 margin: 0 auto;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

/* TEXT AND IMAGE */
.oval-image {
    border-radius: 50%;
    overflow: hidden;
    position: relative;
 
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}


.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.container .text-container {
    flex: 0 0 auto;
    width: 30%;
}

.container .text-container h1 {
    font-size: calc(1rem + 3vw);
    font-weight: 300;
    line-height: 1.2;
    font-family: 'Satisfy', cursive;
}

.section-title {
    font-size: calc(1rem + 2vw);
    font-weight: 300;
    line-height: 1.2;
    margin: 50px 0; 
    text-align: center;
    font-family: 'Satisfy', cursive;
    width: 100vw;
}

.container .text-container p {
    font-size: 1.3rem;
    font-weight: 300;
    color: #6c757d;
    margin-top: 20px;
}

.container .image-container {
    flex: 0 0 auto;
    width: 25%;
}

.container .oval-image-container {
    flex: 0 0 auto;
    width: 16vw;
}

.container .image-container img,
.container .oval-image-container img {
    width: 100%;
    height: auto;
}

/* RESPONSIVE DESIGN */
@media (max-width: 992px) {
    .container .text-container h1 {
        font-size: calc(1rem + 5vw);
    }

    .container .text-container p {
        font-size: 1rem;
    }
    
    .section-title {
        font-size: calc(1rem + 5vw);
        margin-top: 20px;
        margin-bottom: 80px;
        width: 80vw;
    }

    .container .text-container {
        width: 80vw;
        text-align: center;
    }

    .container .image-container {
        width: 50vw;
    }

    .container .oval-image-container {
        width: 35vw;
    }
}

@media (max-width: 576px) {
    .container {
        gap: 60px;
    }

    .container .text-container h1 {
        font-size: calc(1rem + 6vw);
    }

    .section-title {
        font-size: calc(1rem + 6vw);
    }
    .container .image-container {
        width: 70vw;
    }

    .container .oval-image-container {
        width: 60vw;
    }

}